            <!-- forms -->
            <div class="box">
                <!-- box / title -->
                <div class="title">
                    <h5>Profile Change Password</h5>
                </div>
                <!-- end box / title -->

                {if="isset($error)"}
                <div id="message-error" class="message message-error">
                    <div class="image">
                        <img src="{$baseURL}/styles/admin/images/icons/error.png" alt="Error" height="32" />
                    </div>
                    <div class="text">
                        <h6>Error Message</h6>
                        <span>{$error}</span>
                    </div>
                    <div class="dismiss">
                        <a href="#message-error"></a>
                    </div>
                </div>
                {/if}

                <form id="form" action="" method="post">
                    <div class="form">
                        <div class="fields">
                            <div class="field  field-first">
                                <div class="label">
                                    <label for="current_password">Current password :</label>
                                </div>
                                <div class="input">
                                    <input type="password" id="current_password" name="current_password" class="small" value="" />
                                </div>
                            </div>
                            <div class="field">
                                <div class="label">
                                    <label for="new_password">New password :</label>
                                </div>
                                <div class="input">
                                    <input type="password" id="new_password" name="new_password" class="medium" value="" />
                                </div>
                            </div>
                            <div class="field">
                                <div class="label">
                                    <label for="confirm_password">Confirm new password :</label>
                                </div>
                                <div class="input">
                                    <input type="password" id="confirm_password" name="confirm_password" class="medium" value="" />
                                </div>
                            </div>
                            <div class="buttons">
                                <input type="hidden" name="action" value="changepassword">
                                <input type="submit" name="submit" value="OK" />
                                <input type="reset" name="reset" value="Reset" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end forms -->