


	/*------------------------
	---------------- CONTENT
	------------------------*/
	
	/* You might want to change these options for the main container */
	#slideShow {
		
		float: left;
		height: 300px;
		width: 700px;
	
		position: relative;
		
	}
	
	/* images container - This is the most important container - Don't change important properties */
	#slideShow {
		
		list-style: none !important;
		margin: 0 !important;
		overflow: hidden !important;
		position: relative !important;
		
	}

		/* each slider item - Nothing to change here */
		#slideShow li {
			
			display: none;
			float: left;
			margin: 0;
			position: absolute;
			width: 100%;
			
		}
		
		/* Don't edit this part */
		#slideShow li.current {
			
			display: block;
			z-index: 2 !important;
			
		}
		
		/* Don't edit this part */
		#slideShow li.next {
			
			display: block;
			z-index: 1 !important;
			
		}
		
		/* Don't edit this part - prevents inline lists from being hidden */
		#slideShow li ul li {
			
			display: block !important;
			position: relative !important;
			
		}

		#slideShow img {
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
		}

/*------------------------
		--------------- LEFT ARROW
		------------------------*/
		
		/* Sets position and main configs */
		.slider_arrow_left {
			
			bottom: 10px;
			cursor: pointer !important;
			float: left;
			height: 22px;
			left: 10px;
			position: absolute;
			width: 22px;
			z-index: 50 !important;
			
		}
		
		/* left arrow image */
		.slider_arrow_left {
			
			background: url(images/left_arrow.png) no-repeat top left;
			
		}


		/*------------------------
		-------------- RIGHT ARROW
		------------------------*/
		
		/* Sets position and main configs */
		.slider_arrow_right {
			
			bottom: 10px;
			cursor: pointer;
			float: left;
			height: 22px;
			left: 37px;
			position: absolute;
			width: 22px;
			z-index: 50;
			
		}
		
		/* Right arrow Background */
		.slider_arrow_right {
			
			background: url(images/right_arrow.png) no-repeat top left;
			
		}




	/*------------------------
	---------------- SELECTORS
	------------------------*/
	
	/* Sets configs for selectors containers : absolute positioned in relation to #slider */
	.slider_selector, .slider_selector_dis {
		
		bottom: 10px;
		list-style: none;
		margin: 0 0 0 5px;
		position: absolute;
		right: 10px;
		z-index: 50;
		
	}
	
		/* Sets image of selectors */
		.slider_selector li, .slider_selector_dis li {
			
			display: block !important;
			background: url(images/slider_selector.png) no-repeat top left;
			cursor: pointer;
			float: left;
			margin: 0 3px !important;
			height: 10px !important;
			position: relative !important;
			width: 10px !important;
			
		}
		
		/* Sets the current selector */
		.slider_selector li.current, .slider_selector_dis li.current {
			
			background: url(images/slider_selector_current.png) no-repeat top left;
			
		}
	
	/* Disables the selectors */
	.slider_selector_dis li {
		
		cursor: default !important;
		z-index: 50;
		
	}